.box{
  width: 500px;
  height: 380px;
  border:  1px solid  black;
  margin: 5% auto;
  box-shadow:3px 10px 94px 0px rgba(148, 18, 204, 0.75);
  display: block;
   font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: italic;
  overflow: scroll;
  
}
.titulo{
  text-align: center;
  display: block;
  font-family: "Love Light";
  font-weight: 700;
  font-style: italic;
  
}

.paragrafo{
  text-align: center;
  display: block;
  font-family: "Love Light";
  font-weight: 700;
  font-style: italic;
  font-size: 40px;
}

